<!-- =============== VENDOR SCRIPTS ===============-->
<!-- MODERNIZR-->
<script src="../vendor/modernizr/modernizr.custom.js"></script>
<!-- JQUERY-->
<script src="../vendor/jquery/dist/jquery.js"></script>
<!-- BOOTSTRAP-->
<script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>
<!-- STORAGE API-->
<script src="../vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
<!-- PARSLEY-->
<script src="../vendor/parsleyjs/dist/parsley.min.js"></script>
<!-- =============== APP SCRIPTS ===============-->
<script src="js/app.js"></script>

{% block additional_javascript %}

{% endblock %}